
.productCard {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100px;
  margin: 5px;
  padding: 5px;
}

.product_image {
 width: 100px;
 height: 100px;
}
.productContainer {
 display: flex;
 flex-wrap: wrap;
}
.pagenationContainer {
  display: flex;
  flex-direction: row;
}
.pageNumber {
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
  cursor: pointer;
}
.active {
  background-color: aqua;
}