.App {
  font-family: sans-serif;
  text-align: center;
}
.headingContainer {
  display: flex;
}
.heading {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.mainContainer {
  border: 1px solid black;
  height: 300px;
  width: 400px;
}
.profile {
  display: grid
}

.error {
  color: red;
  display: block;
  font-size: small;
}